<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.kyung2am.test.realestate.repository.RealEstateRepository">
 
 	<select id="selectIdRealEstate" resultType="com.kyung2am.test.realestate.domain.RealEstate" parameterType="int">
 		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			id = #{id}
 	</select>
 	
 	<select id="selectRentPriceRealEstate" resultType="com.kyung2am.test.realestate.domain.RealEstate" parameterType="int">
 		<![CDATA[
 		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` < #{rentPrice}
		]]>
 	</select>
 	
 	<select id="selectAreaPriceRealEstate" resultType="com.kyung2am.test.realestate.domain.RealEstate" parameterType="int">
 		<![CDATA[
 		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE `area` >= #{area} AND `price` <= #{price}
		ORDER BY `createdAt` DESC
		]]>
 	</select>
 	
 	<insert id="insertByObjectRealEstate" parameterType="com.kyung2am.test.realestate.domain.RealEstate">
 		INSERT INTO `real_estate`
 		(
			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
 		)
 		VALUE
 		(
 			#{realtorId}
 			,#{address}
 			,#{area}
 			,#{type}
 			,#{price}
 		)
 	</insert>
 	
 	<insert id="insertByFiledRealEstate" parameterType="map">
 		INSERT INTO `real_estate`
 		(
			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
 		)
 		VALUE
 		(
 			#{realtorId}
 			,#{address}
 			,#{area}
 			,#{type}
 			,#{price}
 		)
 	</insert>
	
	<update id="updateByFieldRealEstate" parameterType="map">
		UPDATE
			`real_estate`
		SET
			`type` = '전세'
			,`price` = 70000
		WHERE
			`id` = #{id}
	</update>
 </mapper>